<div class="create-edit-survey-container">
<h1 class="create-survey-header"><%= survey.new_record? ? "New Survey" : "Edit Survey" %></h1>

<%= form_for survey do |f| %>
    <%- if survey.errors.any? %>
      <ul>
        <%- survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.text_area :description %>
    </div>

    <%= f.submit %>
  <% end %>
</div>