<!DOCTYPE html>
<html>
  <head>
    <title>Rapidfire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    </head>
    
    <body>
      <%= render partial: 'layouts/navbar' %>
      <% if current_user %>
        <%= yield %>
      <% else %>
        <%= render partial: 'layouts/homepage' %>
      <% end %>
    </body>
    <footer>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </footer>
</html>
